<div class="container-fluid margin-componenet" style="background-color:#559AD3">
    <div>
        &nbsp;<span class="glyphicon glyphicon-circle-arrow-right"></span>
        <span><b>&nbsp;Add New Connection</b></span>
        <span class="glyphicon glyphicon-remove pull-right"></span>
    </div>
    <div class="well" style="background-color:white">
        <div class="well center-block" style="height:70px; background-color:lightgray">
            <div class="col-md-6" style="padding-left:40%">
                <h4 style="text-align:center; " class="heading-title">Directories &nbsp;</h4>
            </div>
            <div class="col-md-6">
                <div class="btn-group">
                    <button type="button" class="btn btn-default">Linkable News Tag and Connect</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7">
                <div class="col-md-10">
                    <page-a></page-a>
                </div>
                <div class="col-md-2 center-block" style="margin-top:70%">
                    <input type="checkbox" name="vehicle" value="Bike">Right
                    <span class="glyphicon glyphicon-arrow-right"></span>
                    <br>
                    <br>
                    <span class="glyphicon glyphicon-arrow-left"></span>
                    <input type="checkbox" name="vehicle" value="Car">Right
                </div>
            </div>
            
            <div class="col-md-5">
                <page-b></page-b>
            </div>
        </div>

        <div style="margin-bottom:4%">
            <button type="button" class="btn btn-primary pull-right ">Add &nbsp;<span class="glyphicon glyphicon-ok"></span></button>
        </div>

        <div class="well" style="height:170px; background-color:lightgray">

        </div>

        <div style="margin-bottom:4%">
            <h4 class="pull-right" style="color:blue">Done</h4>
        </div>
    </div>
</div>
